@media screen and (min-width: 1900px) {

    .container {
        max-width: 1500px;
    }

    /* .slider .owl-item{
        width: 1200px !important;
    } */
}

@media screen and (max-width: 1600px) {
     
    .container {
        max-width: 1300px;
    }

    /* .slider .owl-item{
        width: 850px !important;
    } */
}

@media screen and (max-width: 1024px) {
    
    .container {
        max-width: 980px;
    }
    .mission .wrap .left, .mission .wrap .right{
        width: 43%;
    }
    .slider .owl-carousel .owl-prev {
        left: 35vw !important;
    }
    
    .slider .owl-carousel .owl-next {
        right: 35vw !important;
    }

    .news .owl-carousel .owl-prev {
        left: 38vw !important;
    }
    
    .news .owl-carousel .owl-next {
        right: 38vw !important;
    }

    .slider .client-img{
        width: 55% !important;
    }
    
    .slider .client-des{
        
        padding-left: 20px !important;
    }

    .slider .client-des p{
        
        margin: 30px 0 !important;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 1.7;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
    }

    .slider .client-slider .item{
        padding: 0 20px;
    }

    /* .news .news-slider .owl-item{
        width: 270px !important;
    }

    .news-slider .card-overlay {
        width: 267px !important;
        min-height: 300px !important;
    } */
}

@media screen and (max-width: 768px) {


    header .slogan, header .menu .link{
        display: none;
    }

    section{
        padding: 80px 0;
    }

    .mission .wrap{
        flex-direction: column-reverse;
    }

    .mission .right img{
        display: none;
    }

    .mission .wrap .left, .mission .wrap .right {
        width: 100%;
    }

    .mission .right, .mission h1 {
        margin-bottom: 50px;
    }

    .mission h1{
        padding-left: 0 !important;
    }

    .service-list h1 {
        width: 100%;
        margin-bottom: 40px;
    }

    .service-list li:first-child {
        padding-top: 0;
    }
    
    .service-list li {
        padding: 60px 0;
        flex-direction: column;
    }

    .service-list .content {
        width: 100% !important;
    }

    .slider .owl-carousel .owl-prev {
        left: 30vw !important;
    }
    
    .slider .owl-carousel .owl-next {
        right: 30vw !important;
    }

    .news .owl-carousel .owl-prev {
        left: 33vw !important;
    }
    
    .news .owl-carousel .owl-next {
        right: 33vw !important;
    }

    footer{
        padding: 60px 0;
    }

}

@media screen and (max-width: 480px) { 
    .intro {
        height: auto;
        display: block;
        padding: 100px 20px;
    }

    .service-list li {
        display: block;
    }

    .service-list li h2 {
        width: 100%;
        margin-bottom: 30px;
    }

    .service-list li .content {
        width: 100%;
    }

    .slider .owl-carousel .owl-prev {
        left: 14vw !important;
    }
    
    .slider .owl-carousel .owl-next {
        right: 14vw !important;
    }

    .slider .inner{
        flex-direction: column;
    }
    
    .slider .item{
        padding: 10px !important;
    }

    .slider .client-des{
        padding-left: 0 !important;
        margin-top: 20px;
    }

    .slider .inner .client-img, .client-des{
        width: 100% !important;
    }

    .news .owl-carousel .owl-prev {
        left: 17vw !important;
    }
    
    .news .owl-carousel .owl-next {
        right: 17vw !important;
    }
    
    .footer-top{
        flex-direction: column;
    }

    .footer-top .address{
        margin-top: 40px;
    }

    .footer-top .mail{
        border-bottom: 0 !important;
    }
}