
.dark-bg{
    a, p, *{
        color: #ffffff;
    }
}

.cta{
    text-align: right;
    
    .more, .more-style, .slider-nav span {
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        color:#000;
        font-family: 'Oswald',sans-serif;
        font-weight: 700;
        font-size: 22px;
        padding-right: 120px;

        &:hover{
            color: #c29032;
            &:after {
                transform: translate(10px,-50%);
            }
        }
        
        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 100px;
            height: 20px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url(../images/long-left-arrow.svg);
            background-size: cover;
            background-position: 50%;
            transition: all .2s ease;
        }
    }
    .white{
        color: #ffffff;
        &:hover{
            color: #ffffff;
        }
        &::after{
            background-image: url(../images/long-left-arrow-white.svg);
        }
    } 
}

.slider{
    .owl-nav {
        button {

            &.owl-prev {
                left: 38vw;
                bottom: -77px;
                border: 1px solid #1b1b1b;
            }

            &.owl-next {
                right: 38vw;
                bottom: -77px;
                border: 1px solid #1b1b1b;
            }

            span{
                font-size: 38px;
                margin-top: -15px;
            }

            display: flex;
            width: 40px;
            height: 40px;
            border-radius: 50%;;
            justify-content: center;
            align-self: center;
            position: absolute;
            bottom: 0;
        }
    }
    .slider-btn {
        padding-top: 42px;
        text-align: center;
    } 
}

header {
    padding: 15px 0;
    box-shadow: 0 3px 10px rgba(0,0,0,0.16);
    .wrap {
       
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            img{
                width: 204px;
                height: 87px;
                object-fit: contain;
            }
        }
        .menu{
            display: flex;
            align-items: center;

            .link {
                font-size: 16px;
                font-weight: 400;
                text-transform: uppercase;
                padding: 7px 20px;
                border-radius: 35px;
                border: 1px solid #545454;
                margin-top: 0;
                font-family: 'Poppins',sans-serif;

                &:hover{
                    background: #545454;
                    color: #ffffff;
                }
            }
            .icon {
                padding: 3px 6px 6px;
                border: 1px solid #545454;
                border-radius: 50%;
                margin-left: 16px;
                position: relative;
                z-index: 999;
                transition: all .3s cubic-bezier(.175,.885,.32,1.275);
                
                &:hover {
                    transform: scale(1.1) rotate(10deg);
                }

                svg{
                    width: 20px;
                }

            }    
        }
    }
}

.nav-hub {
    position: fixed;
    background: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 100vh;
    display: none;
    z-index: 99;
    text-align: center;

    .flex-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 92vh;

        li{
            text-align: left;
            position: relative;
            margin-bottom: 10px;

            a{
                text-transform: uppercase;
                font-weight: 500;

                &:hover{
                    color: #1b1b1b;
                    &:before {
                        transform-origin: 0 50%;
                        transform: scaleY(2);
                        transition-timing-function: cubic-bezier(.7,0,.2,1);
                    }
                }
                &::before{
                    
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: currentColor;
                    top: calc(100% + 4px);
                    left: 0;
                    pointer-events: none;
                    content: "";
                    transform-origin: 100% 50%;
                    transform: scaleX(0);
                    transition: transform .4s cubic-bezier(.2,1,.8,1);

                }
                small{
                    
                    font-size: 20px;
                    border: 1px solid #1b1b1b;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    position: absolute;
                    bottom: 15px;
                    left: -60px;
                }
                span{
                    font-size: 74px;
                    line-height: 70px;
                }
            }
        }
    }

    .footer-list {
        position: absolute;
        bottom: 5vh;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        p{
            font-size: 18px;
            font-weight: 600;
            color: #1b1b1b;
            
        }   
    }
}

.intro{
    text-align: center;
    position: relative;
    height: calc(100vh - 117px);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    h1 {
        width: 62%;
        margin: auto;
        margin-bottom: 30px;
    }

    p {
        max-width: 575px;
        margin: 0 auto;
    }

    .goto{
        border: 2px solid #1b1b1b;
        border-radius: 20px;
        bottom: 0px;
        height: 50px;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        width: 30px;

        &:before{
            animation: scrollDownAnimation 2s infinite;
            background-color: #1b1b1b;
            border-radius: 100%;
            content: '';
            height: 6px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            top: 10px;
            width: 6px;
        }
    }
    &.non{
        p{
            max-width: 900px;
            // font-weight: 400;
            font-size: 20px;
            line-height: 30px;
        }
    }
}

.main{
    .page-grid{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        align-items: start;

        .left {
            grid-column: 2/span 6;
            img{
                // width: 420px;
                width: 66%;
                height: 630px;
                object-fit: cover;
            }
            
        }

        .right {
            grid-column: 5/span 7;
            margin-top: -322px;
            img{
                // width: 566px;
                width: 77%;
                height: 424px;
                object-fit: cover;
            }
        }
        img{
            width: 100%;
        }
        .heading{
            grid-column: 8/ span 4;
            grid-row: 1;
            margin-top: 50px;
        }
        .text{
            grid-column: 2/span 10;
            text-align: center;
            p{
                font-weight: 400;
            }
        }
    }
}

.service-list{

    li {
        border-bottom: 1px solid #f6f6f6;
        padding: 120px 0;
        display: flex;
        justify-content: space-between;

        &:last-of-type{
            border: 0;
            
        }

        h2{
            width: 40%;
            line-height: 80px;
        }
        .content{
            width: 50%;

            p{
                margin-bottom: 60px;
            }
        }
    }
}

.clients-slider{
    overflow: hidden;


    h1{
        font-weight: 500;
    }
    
    .client-slider {
       
        margin-top: 100px;
        
        .owl-item {
            opacity: 0.5;

            &.active {
                opacity: 1;
            }
        }

        .item {
            position: relative;
            padding: 50px;
            
            .inner {
                display: flex;
                align-items: flex-end;
                align-items: center;

                .client-img {
                    width: 45%;
                    
                    img{
                        width: 100%;
                        height: 510px;
                        object-fit: cover;
                    }
                }
                .client-des {
                    padding-left: 50px;
                    width: 55%;

                    p{
                        margin: 50px 0;
                    }
                }
            }
        }
        
    }
}

.news {
    h1 {
        font-weight: 500;
    }

    .news-slider {
        margin-top: 40px;

        .owl-item {
            opacity: 0.5;

            &.active {
                opacity: 1;
            }
        }

        .inner {
            height: 576px;
            background-size: cover;
            background-position: center;
            position: relative;

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.5);
                left: 0;
                top: 0;
                z-index: 1;
            }

            .heading {
                position: relative;
                z-index: 2;
                padding: 20px ;

                h4 {
                    color: #fff;
                }
            }

            .cta {
                position: absolute;
                z-index: 2;
                bottom: 20px;
                left: 20px;
            }
        }
    }
}

footer{
    padding: 100px 0 0px;
    p{
        font-size: 15px;
        font-weight: 100;
        line-height: 20px;
    }
    
    .footer-top {
        display: flex;
        justify-content: space-between;
    
        .footer-logo {
            a {
                h3 {
                    font-size: 66px;
                    letter-spacing: 5px;
                    margin-bottom: 20px;
                }
    
                p {
                    font-size: 18px;
                }
            }
        }
    
        .address {
            a {
                display: block;
                text-align: right;
                font-size: 19px;
                font-weight: 300;

                &:hover{
                    color: #ffffff;
                }
            }
    
            a.mail {
                margin-bottom: 10px;
                border-bottom: 1px solid #fff;
                font-size: 22px;
            }
        }
    }

    .bottom{

        margin-top: 80px;
        border-top: 1px solid #ffffff;
        padding: 20px 0;
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            li{
                padding: 0 30px;
                text-align: center;
            }
        }
    }
}


@keyframes scrollDownAnimation {
    0%   {opacity: 0; transform: translate(0, 0)}
    40%  {opacity: 1;}
    80%  {opacity: 0; transform: translate(0, 290%)}
    100% {opacity: 0;}
  }
